app-x28-ontology-import-task/src/main/resources/schema/OntologyX28.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="MysqlDump">
        <xs:sequence>
            <xs:element name="database" type="Database"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Field">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="name" use="required" type="xs:string">
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="Row">
        <xs:sequence>
            <xs:element name="field" maxOccurs="unbounded" type="Field"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TableData">
        <xs:sequence>
            <xs:element name="row" maxOccurs="unbounded" type="Row"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string">
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="Database">
        <xs:sequence>
            <xs:element name="table_data" maxOccurs="unbounded" type="TableData"/>
        </xs:sequence>
        <xs:attribute name="name" use="required" type="xs:string">
        </xs:attribute>
    </xs:complexType>
    <xs:element name="mysqldump" type="MysqlDump"/>
</xs:schema>
